div.platforms{
    padding: 4% 0;
    border-radius: 10px;
    padding-bottom: 6%;
    width: 85.5%;
    margin: 100px auto;
    box-shadow: 0 0 15px 5px #ffbc8c,
            0 0 20px 15px #bb6c35,
            0 0 15px 10px #bb6c35;
}


.platforms h3{
    font-size: var(--size-xl);
    margin-bottom: 1%;
    color: var(--col-copper);
}

.platforms i{
    font-size: var(--size-6xl);
    margin-left: 1%;
    margin-bottom: 2%;
    color: var(--col-copper);
    text-shadow: 0 0 5px var(--col-copper);
}