div.platforms{
    padding: 4% 0;
    border-radius: 10px;
    padding-bottom: 6%;
    width: 85.5%;
    margin: 100px auto;
    box-shadow: 0 0 15px 5px #ffbc8c,
            0 0 20px 15px #bb6c35,
            0 0 15px 10px #bb6c35;
}




/* Media Queries */

/* extra small (phones) */
@media (min-width: 375px) {
    .platforms h3 {
        font-size: var(--size-3xl);
        margin-bottom: 2%;
        color: var(--col-copper);
    }

    .platforms i {
        font-size: var(--size-lg);
        margin-left: 1%;
        margin-bottom: 3%;
        color: var(--col-copper);
        text-shadow: 0 0 5px var(--col-copper);
    }

    .spotifyEmbed {
        margin: 0 auto;
        width: 80%;
    }
}
/* xs */
@media (min-width: 475px) {  
    .platforms h3 {
            font-size: var(--size-3xl);
            margin-bottom: 2%;
            color: var(--col-copper);
        }
    .platforms i{
            font-size: var(--size-xl);
                margin-left: 1%;
                margin-bottom: 3%;
                color: var(--col-copper);
                    text-shadow: 0 0 5px var(--col-copper);
    }
        .spotifyEmbed {
            margin: 0 auto;
            width: 90%;
        }
    } 

/* sm */
/* @media (min-width: 640px) {
    
    } */

/* md */
 @media (min-width: 768px) {
.spotifyEmbed {
        margin: 0 auto;
        width: 80%;
    }
    } 

/* lg */
@media (min-width: 1024px) {
.platforms i {
        font-size: var(--size-6xl);
        margin-left: 1%;
        margin-bottom: 2%;
    }
.spotifyEmbed {
    margin: 0 auto;
    width: 50%;
}
    } 

/* xl */
/* @media (min-width: 1280px) {
    
    } */

/* xxl */
/* @media (min-width: 1536px) {
} */