
.images {
    flex-direction: column;
}

.images .image-wrapper {
    width: 100%;
}

.images img {
    height: auto;
    /* optional: adjust for column layout */
}
/* scrolling */
.scroll-element1{
    opacity: 0;
    transform: translateY(-100px);
    transition: all 1.6s ease-in;
}

.scroll-element2 {
    opacity: 0;
    transform: translateY(-100px);
    transition: all 1.9s ease-in;
}

.scroll-element3 {
    opacity: 0;
    transform: translateY(-100px);
    transition: all 2.3s ease-in;
}

.slide-in.visible{
    opacity: 1;
    transform: translateY(0);
}

a.linktree{
    color:var(--col-white);
}

button.btn-76{
    left:30px;
    margin-bottom: 45px;
}
.about p {
    text-align: justify;
}

/* xs */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }

        .about {
            max-width: 90%;
        }

        .about p{
            font-size: var(--size-xs);
            margin-bottom: 5%;
        }
                button.btn-76 {
                    left:65px;
                }
                .hidden{
                    display: none;
                }
                  
}

/* sm */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
        .about {
            max-width: 520px;
        }
        .about p{
                        font-size: var(--size-md);
        }
                button.btn-76 {
                  left: 105px;
                }
}

/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
         .about {
             max-width: 600px;
         }
                  button.btn-76 {
                      left: 150px;
                  }
        
}

/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .section {
        margin-top: 10rem;
    }
    .about p{
        font-size: var(--size-md);
    }
         .about {
             max-width: 700px;
         }

                  .images {
                      flex-direction: row;
                  }
        
                  .images .image-wrapper {
                      width: 33%;
                  }
        
                  .images img {
                      width: 100%;
                      height: 500px;
                      object-fit: cover;
        
                  }
                  button.btn-76 {
                      left: 205px;
                  }
                                   .hidden {
                                       display: block;
                                   }
}

/* ^ xl current view */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
    
        .about {
            max-width: 800px;
        }
        .about .btn{
            font-size: var(--size-xl);           
}
                 button.btn-76 {
                     left: 260px;
                 }
               
}

/* xxl */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }

 .about {
     max-width: 900px;
 }
         button.btn-76 {
             left: 310px;
         }
}