/************************** */
/* Media Queries */
/* xs */
/* @media (min-width: 475px) {  
    } */

/* sm */
/* @media (min-width: 640px) {
    
    } */

/* md */
/* @media (min-width: 768px) {

    } */

/* lg */
/* @media (min-width: 1024px) {

    } */

/* xl */
/* @media (min-width: 1280px) {
    
    } */

/* xxl */
/* @media (min-width: 1536px) {
} */
/* *********** here I add the styles that repeat itself ********** */
/* buttons */
.btn-76,
.btn-76 *,
.btn-76 :after,
.btn-76 :before,
.btn-76:after,
.btn-76:before {
    border: 0 solid;
    box-sizing: border-box;
}

.btn-76 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: var(--col-dark-blue);
    background-image: none;
    color: var(--col-white);
    cursor: pointer;
    font-size: 100%;
    line-height: 1.5;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
}

.btn-76:disabled {
    cursor: default;
}

.btn-76:-moz-focusring {
    outline: auto;
}

.btn-76 svg {
    display: block;
    vertical-align: middle;
}

.btn-76 [hidden] {
    display: none;
}

.btn-76 {
        cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%2314699E" stroke-width="0.75" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>'), auto;
    box-sizing: border-box;
    display: block;
    font-weight: 900;
    -webkit-mask-image: none;
    outline: 4px solid #fff;
    outline-offset: -4px;
    overflow: hidden;
    padding: 1.2rem 3rem;
    position: relative;
    left:256px;
    text-transform: uppercase;
    transition: 0.2s linear 0.1s;
}

.btn-76:hover {
    background: var(--col-copper);
    box-shadow: 0 0 5px var(--col-copper), 0 0 25px var(--col-copper), 0 0 50px var(--col-copper),
        0 0 100px var(--col-copper);
    color: var(--col-white);
    outline-color: transparent;
    transition: 0.2s linear 0.6s;
        cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><g fill="none" stroke="%2314699E" stroke-width="0.75"><circle cx="12" cy="12" r="8.5"></circle><path d="M1 12h5M18 12h5M12 6V1.04M12 23v-4.96M11.95 11.95h.1v.1h-.1z"></path></g></svg>'), auto;
}

.btn-76 span {
        cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><g fill="none" stroke="%2314699E" stroke-width="0.75"><circle cx="12" cy="12" r="8.5"></circle><path d="M1 12h5M18 12h5M12 6V1.04M12 23v-4.96M11.95 11.95h.1v.1h-.1z"></path></g></svg>'), auto;
    display: block;
    inset: 0;
    position: absolute;
}

.btn-76 .top {
        cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><g fill="none" stroke="%2314699E" stroke-width="0.75"><circle cx="12" cy="12" r="8.5"></circle><path d="M1 12h5M18 12h5M12 6V1.04M12 23v-4.96M11.95 11.95h.1v.1h-.1z"></path></g></svg>'), auto;
    border-top: 4px solid var(--col-copper);
    opacity: 0;
    transform: translateX(calc(-100% + var(--progress, 0%)));
    transition: none;
}

.btn-76:hover .top {
        cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><g fill="none" stroke="%2314699E" stroke-width="0.75"><circle cx="12" cy="12" r="8.5"></circle><path d="M1 12h5M18 12h5M12 6V1.04M12 23v-4.96M11.95 11.95h.1v.1h-.1z"></path></g></svg>'), auto;
    --progress: 100%;
    opacity: 1;
    transition: transform 0.2s linear;
}

.btn-76 .right {
        cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><g fill="none" stroke="%2314699E" stroke-width="0.75"><circle cx="12" cy="12" r="8.5"></circle><path d="M1 12h5M18 12h5M12 6V1.04M12 23v-4.96M11.95 11.95h.1v.1h-.1z"></path></g></svg>'), auto;
    border-right: 4px solid var(--col-copper);
    opacity: 0;
    transform: translateY(calc(-100% + var(--progress, 0%)));
    transition: none;
}

.btn-76:hover .right {
    --progress: 100%;
    opacity: 1;
    transition: transform 0.2s linear 0.2s;
}

.btn-76 .bottom {
    border-bottom: 4px solid var(--col-copper);
    opacity: 0;
    transform: translateX(calc(100% - var(--progress, 0%)));
    transition: none;
}

.btn-76:hover .bottom {
    --progress: 100%;
    opacity: 1;
    transition: transform 0.2s linear 0.4s;
}

.btn-76 .left {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><g fill="none" stroke="%2314699E" stroke-width="0.75"><circle cx="12" cy="12" r="8.5"></circle><path d="M1 12h5M18 12h5M12 6V1.04M12 23v-4.96M11.95 11.95h.1v.1h-.1z"></path></g></svg>'), auto;
    border-left: 4px solid var(--col-copper);
    opacity: 0;
    transform: translateY(calc(100% - var(--progress, 0%)));
    transition: none;
}

.btn-76:hover .left {
    --progress: 100%;
    opacity: 1;
    transition: transform 0.2s linear 0.6s;
}
/*  */

.btn-40,
.btn-40 *,
.btn-40 :after,
.btn-40 :before,
.btn-40:after,
.btn-40:before {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><g fill="none" stroke="%2314699E" stroke-width="0.75"><circle cx="12" cy="12" r="8.5"></circle><path d="M1 12h5M18 12h5M12 6V1.04M12 23v-4.96M11.95 11.95h.1v.1h-.1z"></path></g></svg>'), auto;
    border: 0 solid;
    box-sizing: border-box;
}

.btn-40 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: var(--col-copper);
    background-image: none;
    cursor: pointer;
    line-height: 1.5;
    -webkit-mask-image: -webkit-radial-gradient(#2582a9, #fff);
}

.btn-40:disabled {
    cursor: default;
}

.btn-40:-moz-focusring {
    outline: auto;
}

.btn-40 svg {
    display: block;
    vertical-align: middle;
}

.btn-40 [hidden] {
    display: none;
}

.btn-40 {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><g fill="none" stroke="%2314699E" stroke-width="0.75"><circle cx="12" cy="12" r="8.5"></circle><path d="M1 12h5M18 12h5M12 6V1.04M12 23v-4.96M11.95 11.95h.1v.1h-.1z"></path></g></svg>'), auto;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: 400px;
    margin: 0 auto;
    padding: 1.5rem 8rem;
    position: relative;
    text-transform: uppercase;
    font-weight: 900;
}

.btn-40 .new,
.btn-40 .old {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><g fill="none" stroke="%2314699E" stroke-width="0.75"><circle cx="12" cy="12" r="8.5"></circle><path d="M1 12h5M18 12h5M12 6V1.04M12 23v-4.96M11.95 11.95h.1v.1h-.1z"></path></g></svg>'), auto;
    transition: transform 0.2s;
    
}

.btn-40 .old {
    display: grid;
    inset: 0;
    place-content: center;
    position: absolute;
}


.btn-40:hover .old {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><g fill="none" stroke="%2314699E" stroke-width="0.75"><circle cx="12" cy="12" r="8.5"></circle><path d="M1 12h5M18 12h5M12 6V1.04M12 23v-4.96M11.95 11.95h.1v.1h-.1z"></path></g></svg>'),
        pointer;
    transform: translateY(100%);
}

.btn-40 .new {
    cursor:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><g fill="none" stroke="%2314699E" stroke-width="0.75"><circle cx="12" cy="12" r="8.5"></circle><path d="M1 12h5M18 12h5M12 6V1.04M12 23v-4.96M11.95 11.95h.1v.1h-.1z"></path></g></svg>'),
            pointer;
    background: var(--col-white);
    color: var(--col-copper);
    border: 2px solid var(--col-copper);
    display: grid;
    inset: 0;
    place-content: center;
    pointer-events: none;
    position: absolute;
    transform: translateX(-100%);
}

.btn-40:hover .new {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><g fill="none" stroke="%2314699E" stroke-width="0.75"><circle cx="12" cy="12" r="8.5"></circle><path d="M1 12h5M18 12h5M12 6V1.04M12 23v-4.96M11.95 11.95h.1v.1h-.1z"></path></g></svg>'),
            pointer;
    transform: translateX(0);
}




.container {
    /* background-color: blueviolet; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    text-align: center;
}

.section {
    /* background-color: rgb(138, 170, 158); */
    margin-top: 5rem;
}
.loader-wrapper {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--col-copper);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
} 
   .loader-wrapper.fade-out {
       opacity: 0;
       visibility: hidden;
       transition: all 1s ease;
   }
  .loader {
      width: 45px;
      aspect-ratio: .75;
      --c: no-repeat linear-gradient(var(--col-dark-blue) 0 0);
      background:
          var(--c) 0% 50%,
          var(--c) 50% 50%,
          var(--c) 100% 50%;
      animation: l7 1s infinite linear alternate;
  }

  @keyframes l7 {
      0% {
          background-size: 20% 50%, 20% 50%, 20% 50%
      }

      20% {
          background-size: 20% 20%, 20% 50%, 20% 50%
      }

      40% {
          background-size: 20% 100%, 20% 20%, 20% 50%
      }

      60% {
          background-size: 20% 50%, 20% 100%, 20% 20%
      }

      80% {
          background-size: 20% 50%, 20% 50%, 20% 100%
      }

      100% {
          background-size: 20% 50%, 20% 50%, 20% 50%
      }
  }


/* xs */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}

/* sm */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .section {
        margin-top: 10rem;
    }
}

/*^ current view xl */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
        h1,h2 {
            font-size: var(--size-5xl);
        }
        p{
            font-size: var(--size-md);
        }
}

/* xxl */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}